<!-- "Contact" section-->
<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>${page.contact.heading}</h2>
        <ul class="list-inline list-social">
            <% page.contact.social.each { Map socialButton -> %>
                <li class="${socialButton.css_class}">
                    <a href="${socialButton.link}">
                        <i class="fa ${socialButton.fontawesome_icon_class}"></i>
                    </a>
                </li>
            <% } %>
        </ul>
    </div>
</section>