<!-- "Features" Section -->
<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>${page.features.section_heading}</h2>
                    <p class="text-muted">${page.features.outline}</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="device-container">
                    <div class="device-mockup ${page.features.mockup.device.type} ${page.features.mockup.device.orientation} ${page.features.mockup.device.color}">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="images/${page.features.mockup.image}" class="img-responsive" alt=""></div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="container-fluid">
                    <% toListOfPairs(list: page.features.features_list).each { pairOfFeatures ->
                    def leftFeature = pairOfFeatures.get(0)
                    def rightFeature = pairOfFeatures.get(1)
                    %>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="${leftFeature.icon} text-primary"></i>
                                <h3>${leftFeature.title}</h3>
                                <p class="text-muted">${leftFeature.description}</p>
                            </div>
                        </div>
                        <% if (rightFeature) {  %>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="${rightFeature.icon} text-primary"></i>
                                <h3>${rightFeature.title}</h3>
                                <p class="text-muted">${rightFeature.description}</p>
                            </div>
                        </div>
                        <% } %>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>